@media screen{
	.mw-first-heading
		{
			background: #000000;
			color:#fff;
		}
}

@media screen {
	#mw-previewheader { 
		background-color: #000;
		color: #fff;
}
@media screen {
	.vector-menu-content-list {
		background-color:#000;
	}
}

@media screen {
    #mw-head {
        position: fixed;
        background: linear-gradient(to bottom,#050505 50%,#000 100%);
        color: #fff;
    }
}

@media screen {
  .mw-body {
    margin-top: -1px;
    border: 1px solid #000000;
    border-right-width: 1px;
    border-right-width: 0;
    color: #fff;
  }
}
@media screen {
  .mw-body, .parsoid-body {
    background-color: #000000;
    color: #fff;
    direction: ltr;
    padding: 1em;
  }
}
@media screen {
  body {
    background-color: #000000;
    overflow-y: scroll;
    color: #fff;
  }
}
@media screen {
  #mw-page-base {
    background-color: #050505;
    background-image: linear-gradient(to bottom,#000 50%,#050505 100%);
    background-position: bottom left;
    height: 5em;
    color: #fff;
  }
}
@media screen {
  #mw-page-base {
    background-color: #000000;
    background-image: linear-gradient(to bottom,#ffffff 50%,#f6f6f6 100%);
    background-position: bottom left;
    height: 5em;
    color: #fff;
  }
}
